.main {
  background-color: #0079BF;
  padding: 20px;
  display: flex;
  column-gap: 24px;
  width: 100%;
  max-height: calc(100vh - 110px);
}

@media (max-width: 920px) {
  .main {
    flex-wrap: wrap;
    max-height: 100%;
    gap: 15px;
  }
}