.block {
  border-radius: 10px;
  background-color: #EBECF0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;

}

.block::-webkit-scrollbar {
  width: 0;
}

.task {
  padding: 7px 8px ;
  background-color: white;
  border-radius: 5px;
}

.input {
  border-radius: 5px;
  width: 100%;
  padding: 7px 8px;
}

.btn {
  color: #5E6C84;
  background-color: white;
  border-radius: 5px;
  padding: 7px 0 ;
  max-width: 120px;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: #35a0de;
}

.submit {
  color: white;
  background-color: #0067A3;
}



